---
import '../styles/neovim.css';

const { neovimHighlight } = Astro.props;
---

<section class="neovim-section">
  <div class="neovim-content">
    <h2 class="neovim-title"><span>&gt;</span> {neovimHighlight.title}</h2>
    <p class="neovim-desc">{neovimHighlight.description}</p>
  </div>
  <div class="neovim-visual">
    <div class="terminal-mock">
      <div><span class="comment">-- init.lua</span></div>
      <div><span class="keyword">require</span>(<span class="string">"lazy"</span>).setup(plugins)</div>
      <div><span class="keyword">vim.opt</span>.relativenumber = <span class="keyword">true</span></div>
      <div><span class="keyword">vim.opt</span>.expandtab = <span class="keyword">true</span></div>
      <div><span class="keyword">vim.g</span>.mapleader = <span class="string">" "</span></div>
      <div><span class="comment">-- LSP configured</span></div>
      <div><span class="cursor"></span></div>
    </div>
  </div>
</section>
